In [95]:
import os

import pandas as pd
pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')

import numpy as np

In [38]:
df = pd.read_csv(os.path.join('..', 'datasets', 'storms.csv.gz'),index_col = 'REFNUM')

In [39]:
df

,STATE__,BGN_DATE,BGN_TIME,TIME_ZONE,COUNTY,...,LATITUDE,LONGITUDE,LATITUDE_E,LONGITUDE_,REMARKS
REFNUM,,,,,,,,,,,
1.0,1.0,4/18/1950 0:00:00,130,CST,97.0,...,3040.0,8812.0,3051.0,8806.0,NaN
2.0,1.0,4/18/1950 0:00:00,145,CST,3.0,...,3042.0,8755.0,0.0,0.0,NaN
3.0,1.0,2/20/1951 0:00:00,1600,CST,57.0,...,3340.0,8742.0,0.0,0.0,NaN
4.0,1.0,6/8/1951 0:00:00,900,CST,89.0,...,3458.0,8626.0,0.0,0.0,NaN
5.0,1.0,11/15/1951 0:00:00,1500,CST,43.0,...,3412.0,8642.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
902293.0,56.0,11/30/2011 0:00:00,10:30:00 PM,MST,7.0,...,0.0,0.0,0.0,0.0,EPISODE NARRATIVE: A strong cold front moved s...
902294.0,30.0,11/10/2011 0:00:00,02:48:00 PM,MST,9.0,...,0.0,0.0,0.0,0.0,EPISODE NARRATIVE: A strong westerly flow alof...
902295.0,2.0,11/8/2011 0:00:00,02:58:00 PM,AKS,213.0,...,0.0,0.0,0.0,0.0,EPISODE NARRATIVE: A 960 mb low over the south...
902296.0,2.0,11/9/2011 0:00:00,10:21:00 AM,AKS,202.0,...,0.0,0.0,0.0,0.0,EPISODE NARRATIVE: A 960 mb low over the south...
902297.0,1.0,11/28/2011 0:00:00,08:00:00 PM,CST,6.0,...,0.0,0.0,0.0,0.0,EPISODE NARRATIVE: An intense upper level low ...

In [8]:
for col in df.columns:
    print col

STATE__
BGN_DATE
BGN_TIME
TIME_ZONE
COUNTY
COUNTYNAME
STATE
EVTYPE
BGN_RANGE
BGN_AZI
BGN_LOCATI
END_DATE
END_TIME
COUNTY_END
COUNTYENDN
END_RANGE
END_AZI
END_LOCATI
LENGTH
WIDTH
F
MAG
FATALITIES
INJURIES
PROPDMG
PROPDMGEXP
CROPDMG
CROPDMGEXP
WFO
STATEOFFIC
ZONENAMES
LATITUDE
LONGITUDE
LATITUDE_E
LONGITUDE_
REMARKS
REFNUM

In [10]:
df.shape[0]

902297

In [11]:
df[df.STATE__==1.0]

,STATE__,BGN_DATE,BGN_TIME,TIME_ZONE,COUNTY,...,LONGITUDE,LATITUDE_E,LONGITUDE_,REMARKS,REFNUM
0,1.0,4/18/1950 0:00:00,130,CST,97.0,...,8812.0,3051.0,8806.0,NaN,1.0
1,1.0,4/18/1950 0:00:00,145,CST,3.0,...,8755.0,0.0,0.0,NaN,2.0
2,1.0,2/20/1951 0:00:00,1600,CST,57.0,...,8742.0,0.0,0.0,NaN,3.0
3,1.0,6/8/1951 0:00:00,900,CST,89.0,...,8626.0,0.0,0.0,NaN,4.0
4,1.0,11/15/1951 0:00:00,1500,CST,43.0,...,8642.0,0.0,0.0,NaN,5.0
...,...,...,...,...,...,...,...,...,...,...,...
902045,1.0,11/28/2011 0:00:00,11:00:00 PM,CST,3.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: An intense upper level low ...,902036.0
902057,1.0,11/1/2011 0:00:00,12:00:00 AM,CST,41.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: Below average rainfall pers...,902048.0
902195,1.0,11/1/2011 0:00:00,12:00:00 AM,EST,65.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: November started with D2-D3...,902196.0
902206,1.0,11/12/2011 0:00:00,10:00:00 AM,CST,2.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: A wildfire began on the 12t...,902207.0
902296,1.0,11/28/2011 0:00:00,08:00:00 PM,CST,6.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: An intense upper level low ...,902297.0

In [16]:
df[df.EVTYPE=='TORNADO']

,STATE__,BGN_DATE,BGN_TIME,TIME_ZONE,COUNTY,...,LONGITUDE,LATITUDE_E,LONGITUDE_,REMARKS,REFNUM
0,1.0,4/18/1950 0:00:00,130,CST,97.0,...,8812.0,3051.0,8806.0,NaN,1.0
1,1.0,4/18/1950 0:00:00,145,CST,3.0,...,8755.0,0.0,0.0,NaN,2.0
2,1.0,2/20/1951 0:00:00,1600,CST,57.0,...,8742.0,0.0,0.0,NaN,3.0
3,1.0,6/8/1951 0:00:00,900,CST,89.0,...,8626.0,0.0,0.0,NaN,4.0
4,1.0,11/15/1951 0:00:00,1500,CST,43.0,...,8642.0,0.0,0.0,NaN,5.0
...,...,...,...,...,...,...,...,...,...,...,...
901814,51.0,11/16/2011 0:00:00,06:55:00 PM,EST,143.0,...,7925.0,3643.0,7922.0,EPISODE NARRATIVE: A strong upper level storm ...,901805.0
901820,18.0,11/14/2011 0:00:00,07:32:00 PM,EST,117.0,...,8628.0,3833.0,8627.0,EPISODE NARRATIVE: A squall line developed ahe...,901811.0
901825,48.0,11/7/2011 0:00:00,02:38:00 PM,CST,487.0,...,9913.0,3420.0,9912.0,EPISODE NARRATIVE: Although much of the severe...,901816.0
901826,40.0,11/7/2011 0:00:00,02:39:00 PM,CST,65.0,...,9912.0,3421.0,9911.0,EPISODE NARRATIVE: A powerful storm system mov...,901817.0
901828,1.0,11/16/2011 0:00:00,11:57:00 AM,CST,81.0,...,8537.0,3242.0,8507.0,EPISODE NARRATIVE: Several waves of thundersto...,901819.0

In [40]:
null_values = df.isnull().sum()
for col in df.columns:
    print "{:20s} {:2.1f}". format (col, 100. * null_values[col]/len(df))

STATE__              0.0
BGN_DATE             0.0
BGN_TIME             0.0
TIME_ZONE            0.0
COUNTY               0.0
COUNTYNAME           0.2
STATE                0.0
EVTYPE               0.0
BGN_RANGE            0.0
BGN_AZI              60.7
BGN_LOCATI           31.9
END_DATE             27.0
END_TIME             26.5
COUNTY_END           0.0
COUNTYENDN           100.0
END_RANGE            0.0
END_AZI              80.3
END_LOCATI           55.3
LENGTH               0.0
WIDTH                0.0
F                    93.5
MAG                  0.0
FATALITIES           0.0
INJURIES             0.0
PROPDMG              0.0
PROPDMGEXP           51.6
CROPDMG              0.0
CROPDMGEXP           68.5
WFO                  15.7
STATEOFFIC           27.6
ZONENAMES            65.8
LATITUDE             0.0
LONGITUDE            0.0
LATITUDE_E           0.0
LONGITUDE_           0.0
REMARKS              31.9

In [41]:
df.dropna(axis=1).shape

(902297, 19)

In [43]:
df[df.duplicated()]

,STATE__,BGN_DATE,BGN_TIME,TIME_ZONE,COUNTY,...,LATITUDE,LONGITUDE,LATITUDE_E,LONGITUDE_,REMARKS
REFNUM,,,,,,,,,,,
19.0,1.0,5/10/1952 0:00:00,900,CST,57.0,...,3344.0,8745.0,0.0,0.0,NaN
20.0,1.0,5/10/1952 0:00:00,900,CST,57.0,...,3344.0,8745.0,0.0,0.0,NaN
260.0,1.0,7/4/1960 0:00:00,1750,CST,13.0,...,3139.0,8636.0,0.0,0.0,NaN
603.0,1.0,5/14/1967 0:00:00,2330,CST,77.0,...,3453.0,8730.0,0.0,0.0,NaN
604.0,1.0,5/14/1967 0:00:00,2330,CST,77.0,...,3453.0,8730.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
900771.0,38.0,10/7/2011 0:00:00,03:00:00 PM,CST,7.0,...,0.0,0.0,0.0,0.0,EPISODE NARRATIVE: A strong early October low ...
900806.0,27.0,10/7/2011 0:00:00,04:00:00 PM,CST,1.0,...,0.0,0.0,0.0,0.0,EPISODE NARRATIVE: A strong early October low ...
900807.0,36.0,10/29/2011 0:00:00,01:00:00 PM,EST,57.0,...,0.0,0.0,0.0,0.0,EPISODE NARRATIVE: An early season winter stor...
900808.0,38.0,10/24/2011 0:00:00,03:03:00 PM,CST,7.0,...,0.0,0.0,0.0,0.0,EPISODE NARRATIVE: Seasonably warm and dry con...
900809.0,27.0,10/5/2011 0:00:00,03:00:00 PM,CST,5.0,...,0.0,0.0,0.0,0.0,EPISODE NARRATIVE: A wildfire originated in Ju...

In [45]:
len(df.EVTYPE.unique())

985

In [46]:
df.shape

(902297, 36)

In [47]:
df.columns

Index([u'STATE__', u'BGN_DATE', u'BGN_TIME', u'TIME_ZONE', u'COUNTY',
       u'COUNTYNAME', u'STATE', u'EVTYPE', u'BGN_RANGE', u'BGN_AZI',
       u'BGN_LOCATI', u'END_DATE', u'END_TIME', u'COUNTY_END', u'COUNTYENDN',
       u'END_RANGE', u'END_AZI', u'END_LOCATI', u'LENGTH', u'WIDTH', u'F',
       u'MAG', u'FATALITIES', u'INJURIES', u'PROPDMG', u'PROPDMGEXP',
       u'CROPDMG', u'CROPDMGEXP', u'WFO', u'STATEOFFIC', u'ZONENAMES',
       u'LATITUDE', u'LONGITUDE', u'LATITUDE_E', u'LONGITUDE_', u'REMARKS'],
      dtype='object')

In [52]:
df = df[(df.FATALITIES > 0) | (df.INJURIES > 0) | df.PROPDMGEXP.notnull() | df.CROPDMGEXP.notnull()]

In [53]:
df

,STATE__,BGN_DATE,BGN_TIME,TIME_ZONE,COUNTY,...,LATITUDE,LONGITUDE,LATITUDE_E,LONGITUDE_,REMARKS
REFNUM,,,,,,,,,,,
1.0,1.0,4/18/1950 0:00:00,130,CST,97.0,...,3040.0,8812.0,3051.0,8806.0,NaN
2.0,1.0,4/18/1950 0:00:00,145,CST,3.0,...,3042.0,8755.0,0.0,0.0,NaN
3.0,1.0,2/20/1951 0:00:00,1600,CST,57.0,...,3340.0,8742.0,0.0,0.0,NaN
4.0,1.0,6/8/1951 0:00:00,900,CST,89.0,...,3458.0,8626.0,0.0,0.0,NaN
5.0,1.0,11/15/1951 0:00:00,1500,CST,43.0,...,3412.0,8642.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
902293.0,56.0,11/30/2011 0:00:00,10:30:00 PM,MST,7.0,...,0.0,0.0,0.0,0.0,EPISODE NARRATIVE: A strong cold front moved s...
902294.0,30.0,11/10/2011 0:00:00,02:48:00 PM,MST,9.0,...,0.0,0.0,0.0,0.0,EPISODE NARRATIVE: A strong westerly flow alof...
902295.0,2.0,11/8/2011 0:00:00,02:58:00 PM,AKS,213.0,...,0.0,0.0,0.0,0.0,EPISODE NARRATIVE: A 960 mb low over the south...
902296.0,2.0,11/9/2011 0:00:00,10:21:00 AM,AKS,202.0,...,0.0,0.0,0.0,0.0,EPISODE NARRATIVE: A 960 mb low over the south...
902297.0,1.0,11/28/2011 0:00:00,08:00:00 PM,CST,6.0,...,0.0,0.0,0.0,0.0,EPISODE NARRATIVE: An intense upper level low ...

In [54]:
len(df.EVTYPE.unique())

491

In [56]:
df.EVTYPE.sort_values()

REFNUM
448421.0       HIGH SURF ADVISORY
408333.0              FLASH FLOOD
354932.0                TSTM WIND
384744.0                TSTM WIND
313985.0          TSTM WIND (G45)
                    ...
278304.0              Wind Damage
256479.0               Wintry Mix
298038.0             blowing snow
304025.0            gradient wind
304040.0            gradient wind
Name: EVTYPE, dtype: object

In [58]:
df.EVTYPE.value_counts()

HAIL                          94476
THUNDERSTORM WIND             81960
TSTM WIND                     65588
TORNADO                       52205
FLASH FLOOD                   33223
                              ...
LIGHTNING FIRE                    1
TORNADOES, TSTM WIND, HAIL        1
TORNDAO                           1
NON-SEVERE WIND DAMAGE            1
RECORD WARMTH                     1
Name: EVTYPE, dtype: int64

In [59]:
(df.EVTYPE.value_counts() == 1).sum()

247

In [60]:

df['EVTYPE'] = df.EVTYPE.apply(lambda type: type.strip().upper())

C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [61]:
len(df.EVTYPE.unique())

447

In [62]:
(df.EVTYPE.value_counts() == 1).sum()

224

In [63]:

official_event_types = [
   'Astronomical Low Tide', 'Avalanche',
   'Blizzard', 'Coastal Flood', 'Cold/Wind Chill', 'Debris Flow',
   'Dense Fog', 'Dense Smoke', 'Drought', 'Dust Devil', 'Dust Storm',
   'Excessive Heat', 'Extreme Cold/Wind Chill', 'Flash Flood', 'Flood',
   'Frost/Freeze', 'Funnel Cloud', 'Freezing Fog', 'Hail', 'Heat',
   'Heavy Rain', 'Heavy Snow', 'High Surf', 'High Wind',
   'Hurricane (Typhoon)', 'Ice Storm', 'Lake-Effect Snow',
   'Lakeshore Flood', 'Lightning', 'Marine Hail', 'Marine High Wind',
   'Marine Strong Wind', 'Marine Thunderstorm Wind', 'Rip Current',
   'Seiche', 'Sleet', 'Storm Surge/Tide', 'Strong Wind',
   'Thunderstorm Wind', 'Tornado', 'Tropical Depression',
   'Tropical Storm', 'Tsunami', 'Volcanic Ash', 'Waterspout', 'Wildfire',
   'Winter Storm', 'Winter Weather',

   # We are also adding 'OTHER'...
   'OTHER'
]

official_event_types = map(lambda type: type.upper(), official_event_types)

In [66]:
len(official_event_types)

49

In [67]:
df.EVTYPE.isin(official_event_types)

REFNUM
1.0         True
2.0         True
3.0         True
4.0         True
5.0         True
            ...
902293.0    True
902294.0    True
902295.0    True
902296.0    True
902297.0    True
Name: EVTYPE, dtype: bool

In [68]:
1. * df.EVTYPE.isin(official_event_types).sum()/len(df)

0.81145500536939419

In [70]:
subset_df = df.EVTYPE.isin(official_event_types)

In [71]:
todo_df = df[~df.index.isin(subset_df.index)]

In [74]:
todo_df.EVTYPE.value_counts()

Series([], Name: EVTYPE, dtype: int64)

In [75]:
unrecognized_event_types_to_recognized_event_types = {
   'COLD': 'COLD/WIND CHILL',
   'COLD AND SNOW': 'COLD/WIND CHILL',
   'COLD WEATHER': 'COLD/WIND CHILL',
   'EXTREME COLD': 'EXTREME COLD/WIND CHILL',
   'EXTREME HEAT': 'EXCESSIVE HEAT',
   'EXTREME WINDCHILL': 'EXTREME COLD/WIND CHILL',
   'FLASH FLOOD/FLOOD': 'FLASH FLOOD',
   'FLASH FLOODING': 'FLASH FLOOD',
   'FLASH FLOODING/FLOOD': 'FLASH FLOOD',
   'FLOOD/FLASH FLOOD': 'FLASH FLOOD',
   'FLOODING': 'FLOOD',
   'FOG': 'DENSE FOG',
   'FREEZE': 'FROST/FREEZE',
   'FREEZING RAIN': 'HEAVY RAIN',
   'GLAZE': 'OTHER',
   'HEAT WAVE': 'HEAT',
   'HEAT WAVES': 'HEAT',
   'HEAVY RAIN/SEVERE WEATHER': 'HEAVY RAIN',
   'HEAVY SURF': 'HIGH SURF',
   'HEAVY SURF/HIGH SURF': 'HIGH SURF',
   'HIGH SEAS': 'OTHER',
   'HIGH WINDS': 'HIGH WIND',
   'HURRICANE': 'HURRICANE (TYPHOON)',
   'HURRICANE ERIN': 'HURRICANE (TYPHOON)',
   'HURRICANE OPAL': 'HURRICANE (TYPHOON)',
   'HURRICANE/TYPHOON': 'HURRICANE (TYPHOON)',
   'HYPOTHERMIA/EXPOSURE': 'OTHER',
   'ICE': 'ICE STORM',
   'ICY ROADS': 'OTHER',
   'LANDSLIDE': 'OTHER',
   'LOW TEMPERATURE': 'COLD/WIND CHILL',
   'MARINE MISHAP': 'MARINE HAIL',
   'MARINE TSTM WIND': 'MARINE THUNDERSTORM WIND RIP CURRENT',
   'RECORD/EXCESSIVE HEAT': 'EXCESSIVE HEAT',
   'RIP CURRENTS': 'MARINE THUNDERSTORM WIND RIP CURRENT',
   'RIVER FLOOD': 'FLOOD',
   'ROUGH SEAS': 'MARINE STRONG WIND',
   'SEVERE THUNDERSTORM': 'THUNDERSTORM WIND',
   'STORM SURGE': 'STORM SURGE/TIDE',
   'STRONG WINDS': 'STRONG WIND',
   'THUNDERSTORM WINDS': 'THUNDERSTORM WIND',
   'TORNADOES, TSTM WIND, HAIL': 'TORNADO',
   'TROPICAL STORM GORDON': 'TROPICAL STORM',
   'TSTM WIND': 'THUNDERSTORM WIND',
   'TSTM WIND/HAIL': 'THUNDERSTORM WIND',
   'TYPHOON': 'HURRICANE (TYPHOON)',
   'UNSEASONABLY WARM': 'OTHER',
   'UNSEASONABLY WARM AND DRY': 'OTHER',
   'URBAN/SML STREAM FLD': 'FLOOD',
   'WILD FIRES': 'WILDFIRE',
   'WILD/FOREST FIRE': 'WILDFIRE',
   'WIND': 'HIGH WIND',
   'WINTER STORMS': 'WINTER STORM',
   'WINTER WEATHER/MIX': 'WINTER WEATHER'
}

In [78]:
def event_type(event_type):
   if event_type in official_event_types:
       return event_type

   if event_type in unrecognized_event_types_to_recognized_event_types:
       return unrecognized_event_types_to_recognized_event_types[event_type]

   return 'OTHER'

df['EVTYPE'] = df.EVTYPE.apply(event_type)

C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [79]:
1. * df.EVTYPE.isin(official_event_types).sum()/len(df)

1.0

In [80]:
df.EVTYPE.value_counts()

THUNDERSTORM WIND    160085
HAIL                  94476
TORNADO               52206
FLASH FLOOD           33830
FLOOD                 18461
                      ...
LAKESHORE FLOOD          23
TSUNAMI                  19
SEICHE                   12
DENSE SMOKE               9
VOLCANIC ASH              2
Name: EVTYPE, dtype: int64

In [82]:
df.FATALITIES.isnull().sum()

0

In [83]:
df.INJURIES.isnull().sum()

0

In [85]:
df.columns

Index([u'STATE__', u'BGN_DATE', u'BGN_TIME', u'TIME_ZONE', u'COUNTY',
       u'COUNTYNAME', u'STATE', u'EVTYPE', u'BGN_RANGE', u'BGN_AZI',
       u'BGN_LOCATI', u'END_DATE', u'END_TIME', u'COUNTY_END', u'COUNTYENDN',
       u'END_RANGE', u'END_AZI', u'END_LOCATI', u'LENGTH', u'WIDTH', u'F',
       u'MAG', u'FATALITIES', u'INJURIES', u'PROPDMG', u'PROPDMGEXP',
       u'CROPDMG', u'CROPDMGEXP', u'WFO', u'STATEOFFIC', u'ZONENAMES',
       u'LATITUDE', u'LONGITUDE', u'LATITUDE_E', u'LONGITUDE_', u'REMARKS'],
      dtype='object')

In [90]:
df[df.FATALITIES > 0][['STATE__','MAG','EVTYPE','FATALITIES']]

          STATE__   MAG         EVTYPE  FATALITIES
REFNUM
9.0           1.0   0.0        TORNADO         1.0
13.0          1.0   0.0        TORNADO         1.0
16.0          1.0   0.0        TORNADO         4.0
26.0          1.0   0.0        TORNADO         1.0
34.0          1.0   0.0        TORNADO         6.0
...           ...   ...            ...         ...
901747.0     12.0   0.0    RIP CURRENT         1.0
901770.0      2.0   0.0  COASTAL FLOOD         1.0
901852.0     12.0  25.0    STRONG WIND         1.0
901993.0     53.0  39.0      HIGH WIND         1.0
902183.0     49.0   0.0      AVALANCHE         1.0

[6974 rows x 4 columns]

In [91]:
df[['STATE','EVTYPE']].sum()

STATE     ALALALALALALALALALALALALALALALALALALALALALALAL...
EVTYPE    TORNADOTORNADOTORNADOTORNADOTORNADOTORNADOTORN...
dtype: object

In [92]:
df.PROPDMGEXP.unique()

array(['K', 'M', nan, 'B', 'm', '+', '0', '5', '6', '?', '4', '2', '3',
       'h', '7', 'H', '-', '1', '8'], dtype=object)

In [93]:
(df.PROPDMGEXP=='+').sum()

5

In [96]:
exponent_to_multiplier = {np.nan: np.nan, '+': np.nan, '-': np.nan, '?': np.nan,
   '0': 10 ** 0,
   '1': 10 ** 1,
   '2': 10 ** 2, 'H': 10 ** 2, 'h': 10 ** 2,
   '3': 10 ** 3,'K': 10 ** 3,'k': 10 ** 3,
   '4': 10 ** 4,
   '5': 10 ** 5,
   '6': 10 ** 6, 'M': 10 ** 6, 'm': 10 ** 6,
   '7': 10 ** 7,
   '8': 10 ** 8,
   'B': 10 ** 9}

In [97]:

df.PROPDMG = df.PROPDMG * df.PROPDMGEXP.map(exponent_to_multiplier)

C:\Anaconda2\lib\site-packages\pandas\core\generic.py:2698: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [ ]:
# Top Events

sum_df