# DS-SF-27 | Lab 02 - Research Design and `pandas`

In this lab, we will be exploring the `Ozone` dataset using `pandas`.

> ## Question 1.  Import `pandas` (as `pd`).

In [4]:
import os

# TODO
import pandas as pd
pd.set_option('display.max_rows', 6)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

In [5]:
df = pd.read_csv(os.path.join('..', 'datasets', 'ozone.csv'))

> ## Question 2.  Display a few lines of the dataset to the screen.

In [6]:
# TODO
df.head(5)
df.shape

153

> ## Question 3.  How many samples (i.e., rows) are in this dataset?

In [7]:
# TODO
len(df)

153

> ## Question 4.  Print the name of each column in the dataset, one name per line.

In [10]:
# TODO
df.columns
for i in df.columns:
    print i

Ozone
Solar.R
Wind
Temp
Month
Day

> ## Question 5.  How many variables (i.e., columns) are in this dataset?

In [11]:
# TODO
df.shape

(153, 6)

> ## Question 6.  Extract the first 2 rows of the dataset and print them to the console.  What does the output look like?

In [34]:
# TODO
df.head(47)

    Ozone  Solar.R  Wind  Temp  Month  Day
0    41.0    190.0   7.4    67      5    1
1    36.0    118.0   8.0    72      5    2
2    12.0    149.0  12.6    74      5    3
..    ...      ...   ...   ...    ...  ...
44    NaN    332.0  13.8    80      6   14
45    NaN    322.0  11.5    79      6   15
46   21.0    191.0  14.9    77      6   16

[47 rows x 6 columns]

> ## Question 7.  Extract the last 2 rows of the data frame and print them to the console.  What does the output look like?

In [13]:
# TODO
df.tail(2)

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

> ## Question 8.  What is the value of Ozone in the 47th row?

In [35]:
# TODO
df.iloc[46][0]

21.0

> ## Question 9.  How many missing values are in the `Ozone` column of this dataset?

In [36]:
# TODO
df[df.Ozone.isnull()]

     Ozone  Solar.R  Wind  Temp  Month  Day
4      NaN      NaN  14.3    56      5    5
9      NaN    194.0   8.6    69      5   10
24     NaN     66.0  16.6    57      5   25
..     ...      ...   ...   ...    ...  ...
114    NaN    255.0  12.6    75      8   23
118    NaN    153.0   5.7    88      8   27
149    NaN    145.0  13.2    77      9   27

[37 rows x 6 columns]

> ## Question 10.  What is the mean of the `Ozone` column in this dataset?  Exclude missing values (coded as `NaN`) from this calculation.

In [9]:
# TODO
df_Ozone = df[df.Ozone >= 0]
df_Ozone[df.Ozone >= 0].Ozone.mean()

C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  app.launch_new_instance()

42.12931034482759

> ## Question 11.  Extract the subset of rows of the dataset where `Ozone` values are above 31 and `Temp` values are above 90.

In [44]:
# TODO
df_notgood = df[(df.Ozone > 31) & (df.Temp > 90)]
df_notgood

     Ozone  Solar.R  Wind  Temp  Month  Day
68    97.0    267.0   6.3    92      7    8
69    97.0    272.0   5.7    92      7    9
119   76.0    203.0   9.7    97      8   28
..     ...      ...   ...   ...    ...  ...
124   78.0    197.0   5.1    92      9    2
125   73.0    183.0   2.8    93      9    3
126   91.0    189.0   4.6    93      9    4

[10 rows x 6 columns]

> ## Question 12.  What is the mean of `Solar.R` in this subset?

In [43]:
# TODO
df_notgood["Solar.R"].mean()

212.8

> ## Question 13.  What is the mean of `Temp` when `Month` is equal to 6?

In [7]:
# TODO
df[df.Month == 6].Temp.mean()

79.1

> ## Question 14.  What was `Ozone`'s maximum in the month of May?

In [46]:
# TODO
df[df.Month == 5]["Ozone"].max()

115.0